<h1>Add you book here</h1>
<form action="/Add/Your" method="post">
  <label for="title">ADD TITLE</label>
  <input type="text" name="title" required><br>
  <label for="author">ADD AUTHOR</label>
  <input type="text" name="title" required><br>
  <label for="haveRead">HAVE YOU READ IT?</label><br>
  <input type="checkbox" name="haveRead"><br>
  <label for="physical">IS IT A HARD COPY</label><br>
  <input type="checkbox" name="pyhsical">
  <button type="submit">Add</button>
</form>

<p><a href="/">Click here to view home page</a></p>
